body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.logo_amarela {
    background-color: #ffeb3b;
    padding: 20px 0;
}

header {
    text-align: center;
    margin: 0;
    padding: 10px 0;
}

.imagem_logo img {
    max-width: 150px; 
    height: auto;
    display: block;
    margin: 0 auto; 
}

.textos {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background: #fff;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 40px;}

.imagem_cuidados {
    flex: 1;
    padding: 10px;
}

.imagem_cuidados img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

.texto_dicas {
    flex: 2;
    padding: 10px;
    text-align: justify;
}

h1, h2 {
    color: #333;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
}

strong {
    display: block;
    margin-bottom: 10px;
}
.whatsapp-btn {
    position: fixed;
    bottom: 15px; /* Distância da parte inferior da página */
    right: 15px;  /* Distância da parte direita da página */
    z-index: 1000; /* Garante que o botão fique por cima de outros elementos */
    background-color: #49D2F0; /* Cor de fundo azul */
    color: #ffffff; /* Cor do texto */
    font-family: Arial, sans-serif;
    font-weight: bold;
    border: none; /* Remove a borda */
    border-radius: 20px; /* Bordas arredondadas */
    padding: 5px 10px; /* Espaçamento menor dentro do botão */
    display: flex;
    align-items: center;
    text-decoration: none; /* Remove o sublinhado do link */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transição suave ao passar o mouse */
  }

  .whatsapp-btn:hover {
    background-color: #37A9C1; /* Mudança de cor no hover para um azul mais escuro */
  }

  .whatsapp-container {
    display: flex;
    align-items: center;
  }

  .whatsapp-icon {
    width: 20px; /* Ícone de WhatsApp ajustado para 20px */
    height: 20px;
    margin-right: 5px;
  }

  .whatsapp-text {
    font-size: 10px; /* Texto pequeno */
    color: #ffffff; /* Cor branca para o texto */
  }